<!DOCTYPE html>
<html>
  <head>
    <title>Blue Energy Coin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--2017/06/20-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="css/grayscale.min.css" rel="stylesheet">
    <!-- -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/homepage.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/signup.css">
    <!--STYLES END-->
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- 2017/11/10 -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <div class="flag_responsive hidden-lg hidden-md hidden-sm">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle flag_selected" data-toggle="dropdown"> ENG&nbsp;&nbsp;<img src="img/flag_eng.png"></a>
            <ul role="menu" class="dropdown-menu opt_flag">
                <li><a href="#">ENG&nbsp;&nbsp;<img src="img/flag_eng.png"></a></li>
                <li><a href="#">RUS&nbsp;&nbsp;<img src="img/flag_rus.png"></a></li>
                <li><a href="#">SPA&nbsp;&nbsp;<img src="img/flag_spa.png"></a></li>
                <li><a href="#">FRA&nbsp;&nbsp;<img src="img/flag_fra.png"></a></li>
            </ul>
          </div>
          <div class="login_responsive hidden-lg hidden-md hidden-sm">
            <a class="login-btn" href="/login" style="opacity:1">
              <span class="credential-btn">LOG IN</spna>
            </a>
          </div>
          <a class="navbar-brand pfage-scroll" href="#" style="opacity:1;">
            <img src="img/logo.png" style="margin-top:-10px; outline: none;">
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
          <ul class="nav navbar-nav" style="padding-left:60px; margin: 0;">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#roadmap">Roadmap</a>
            </li>
            <li>
              <a class="page-scroll" href="#ico_results">ICO</a>
            </li>
            <li>
              <a class="page-scroll" href="#team">TEAM</a>
            </li>
            <li>
              <a class="page-scroll" href="#documents">DOCUMENTS</a>
            </li>
            <li>
              <a class="page-scroll" href="#faq">FAQ</a>
            </li>
            <li>
              <a class="page-scroll" href="#social">CONTACTS</a>
            </li>
          </ul>
          <ul class="float-right">
            <li >
              <a class="login-btn" href="/login" style="opacity:1">
                <span class="credential-btn">LOG IN</spna>
              </a>
            </li>
            <li class="hidden-xs">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle flag_selected" data-toggle="dropdown">ENG&nbsp;
                <i class="fa fa-angle-down"></i> &nbsp;
                <!-- <img src="img/flag_eng.png"> -->
              </a>
              <ul role="menu" class="dropdown-menu opt_flag">
                  <li><a href="#">ENG&nbsp;&nbsp;<img src="img/flag_eng.png"></a></li>
                  <li><a href="#">RUS&nbsp;&nbsp;<img src="img/flag_rus.png"></a></li>
                  <li><a href="#">SPA&nbsp;&nbsp;<img src="img/flag_spa.png"></a></li>
                  <li><a href="#">FRA&nbsp;&nbsp;<img src="img/flag_fra.png"></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="intro-title">BLUE ENERGY COIN</h1>
            </div>
            <div class="col-md-6">
              <p>Blue Energy Coin is a digital asset developed by Blue Energy Australia NSW. This crypto currency is temporally called BEAN. It is an innovative solution to make our world more energy efficient, sustainable, cleaner and affordable. A lot of business opportunities will be developed based on Blockchain technology with BEAN’s token sale. Please read our Whitepaper to find out how BEAN, the digital currency will change our future.</p>
              <div>
                <a href="#" class="btn1">INVEST NOW</a>
              </div>
              <h3 class="ico-text">ICO IS NOW LIVE!</h3>
              <p style="margin: 0">You can exchange your Bitcoin, Ethereum with BEAN, or simply buy BEANs with real money. Your investment will create better future and you will benefit from the potential success with Blue Energy. When you invest in energy business, you should look for efficiency. That is what Blue Energy all about.</p>
            </div>
            <div class="col-md-6">
              <div class="media-player-container">
                <div class="media-envirenment">
                  <div class="media-envirenment-screen">
                    <!-- <img src="img/img_video_screen.png" width="580px" style="float: right"> -->
                    <div class="media-wrapper" >
                        <video id="player1" poster="img/video-post.png" preload="none" playsinline webkit-playsinline>
                          <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/CastVideos/mp4/BigBuckBunny.mp4" type="video/mp4">
                          <track srclang="en" kind="subtitles" src="mediaelement.vtt">
                          <track srclang="en" kind="chapters" src="chapters.vtt">
                        </video>
                        <div style="position: relative;">
                          <div class="media-player-starter"><img src="img/video-start-btn.png"></div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center" style="margin-top: 20px; margin-bottom: 50px;">
            <a href="#ico_results" class="page-scroll"> <img src="img/scrol-btn.png"> </a>
          </div>
        </div>
      </div>
    </header>

    <!-- ico results Section -->
    <section id="ico_results" class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2 class="section-title text-left">ICO Results</h2>
            <p>Up to 700,000,000 BEAN will be available for investors. Investment in BEAN tokens gives ICO investors multiple potential returns when Blue Energy core innovation is commercialized. For more information, please read ICO Whitepaper.</p>
            <div class="coin-wrapper">
              <div class="coin-display">
                <div class="img-part">
                  <img src="img/iso-result.png">
                  <div class="coin-part" style="bottom: 50px;left: 0px;">
                    <span class="coin-title">Dollars</span>
                    <p>1537238.9</p>
                  </div>
                  <div class="coin-part" style="top:13px; right: 160px;">
                    <span class="coin-title">Bitcoin</span>
                    <p>100.567</p>
                  </div>
                  <div class="coin-part" style="bottom: 50px; right: -20px;">
                    <span class="coin-title">Ethereum</span>
                    <p>9000.95</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="coin-detail-btn">
              <a href="BlueEnergyCoin White paper.pdf" class="btn2" target="_blank">VIEW DETAILS</a>
            </div>
          </div>
          <div class="col-md-5 text-left">
            <div class="image-wrapper">
              <img src="img/lamp.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Solution Section-->
    <section id="solution">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title text-center">Blue Energy Australia Heat Engine solution</h2>
          </div>
          <div class="col-md-6">
            <div class="solution-image">
              <img src="img/heat-engine.png">
            </div>
          </div>
          <div class="col-md-6 bottom-space">
            <div class="col-md-12 solution-text">
              <span>The Pain Of Energy</span>
              <p>Paying too much for your energy bill? the answer is simple: We are not energy efficient, which wastes too much. <a href="#" class="readmore-btn">Read More</a></p>
              <p class="readmore-text">Efficiency gives you the power to save, not just the money but our precious environment.<a href="#" class="close-btn">Close</a></p>
            </div>
            <div class="col-md-12 solution-text">
              <span>BEAN's Solution</span>
              <p>Do you know that steam engine, the first ever heat engine, opened the gateway of modern civilization? <a href="#" class="readmore-btn">Read More</a></p>
              <p class="readmore-text">To make heat engine efficient will change our future. BEAN is designed to work around heat engine invented by Blue Energy Australia.<a href="#" class="close-btn">Close</a></p>
            </div>
            <div class="col-md-12 solution-text">
              <span>The Market</span>
              <p>Our world relies on heat engine to supply energy. From cars to ships and aircraft,<a href="#" class="readmore-btn">Read More</a></p>
              <p class="readmore-text">from electricity generation to steel making, and many other things we do, we need energy. BEAN taps into the energy market and infrastructure that worth 20 trillion US dollars each year. The market is BIG!<a href="#" class="close-btn">Close</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Possible Section-->
    <section id="possible">
      <div class="container">
        <div class="idea-mark">
          <img src="img/idea-mark.png">
        </div>
        <div class="row ">
          <div class="col-md-12 possible-body">
            <h2 class="section-title text-left">How Is This Possible</h2>
          </div>
          <div class="col-md-9 possible-body">
            <p>If you are how to balance the emission reduction and energy cost, you need to know how energy flows through our world and create jobs, business and lifestyle. You can achieve win-win situation when you understand how to leverage on invention into business solutions. BEAN is designed with leverage solutions. Have you read our Whitepaper?</p>
          </div>
          <div class="col-md-12 possible-body possible-invest-btn">
            <a href="#" class="btn2">INVEST NOW</a>
          </div>
        </div>
      </div>
      <div class="possible-background">
        <img src="img/background-possible.png" style="position: relative;z-index: -1">
      </div>
    </section>

    <!-- BEAN Token -->
    <section id="bean">
      <div class="container">
        <div class="row">
          <div class="col-md-5 bean-image">
            <img src="img/phone2.png">
          </div>
          <div class="col-md-7 bean-body">
            <h2 class="section-title text-left">What is BEAN token?</h2>
            <p>BEAN's takens are the digital currency aiming to mobilize global effort to move our energy consumption from fossil into renewable. It will create new market for fuel cultivation, verification, trading. It's a digital Blockchain solution for energy.</p>
            <div>
              <a href="BlueEnergyCoin White paper.pdf" class="btn1" target="_blank">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- faq Section -->
    <section id="faq" class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 possible-body">
            <h2 class="section-title text-center">FAQ</h2>
          </div>
          <div class="col-md-6">
            <ul>
              <li>
                <span>Q</span> <p>How can I buy BEAN token?</p><div class="according_plus"><img src="img/plus-icon.png"></div>
                <table width="100%">
                  <tr>
                    <td valign="top" width="30px">A: </td>
                    <td>You can either exchange your Bitcoin and/or Ethereum with BEAN, or to purchase fixed price tokens with payment options accepted by this ICO event.<br>
                    What is the different between tokens bought by investors and tokens reserved by Blue Energy Australia?<br>
                    Tokens bought by investors in ICO carry the feature of “fiat” numbers. Total tokens can be bought in ICO are capped at 700,000,000. The reserved tokens are for future energy market trading, which carry not “fiat” numbers. When the tokens hold by investors, they will receive shared loyalty payment when the heat engine is mass produced. Reserved tokens will not receive any payment. When investors participating energy trading, the cost to use energy trading platform will be free and always be the top ranking. Investors can lend the tokens out to business or individual who need better ranking in the energy trading. This will generate income for token investors. If investors want to sell their tokens, they can do so in the markets which list BEAN’s tokens, or peer to peer with other token buyers. The reserved tokens are marked with information to differentiate with privately hold tokens, which have more value. For more information, please read the whitepaper.
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <span>Q</span> <p>Who can invest in BEAN's tokens?</p><div class="according_plus"><img src="img/plus-icon.png"></div>
                <table width="100%">
                  <tr>
                    <td valign="top" width="30px">A: </td>
                    <td>This ICO accept investment from people in many countries except P.R. China, S Korea and any country that has ban crypto currency selling.
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <span>Q</span> <p>What is the minimum to invest BEAN's ICO?</p><div class="according_plus"><img src="img/plus-icon.png"></div>
                <table width="100%">
                  <tr>
                    <td valign="top" width="30px">A: </td>
                    <td>Your pledge to buy/exchange BEAN’s tokens must be equal and bigger than SU$500. When the investment is in fiat currency, the exchange ratio will reflect the investment. To exchange Bitcoin and/or Ethereum, the ratio of exchange is fixed at 30,000 BEAN’s token to ONE Ethereum, or 750,000 BEAN’s token to ONE Bitcoin.
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>
                <span>Q</span> <p>How soon BEAN's heat engine will ba mass produced?</p><div class="according_plus"><img src="img/plus-icon.png"></div>
                <table width="100%">
                  <tr>
                    <td valign="top" width="30px">A: </td>
                    <td>It has been a long journey for Blue Energy Australia NSW to develop this engine. As you can see in our roadmap, this innovation does NOT start only a few months ago. A simple idea in energy storage opened the Pandora box in 2009. This heat engine will completely rewrite engineering rules in energy business. People have always wanted to see to believe. It was completely silent when we tried hard to convince car makers that the future is knocking their doors. How much fine when a few car manufacturers have to pay because they use cheating method to pass fuel economy data and emission outcome? We were told nothing when the innovation design was sent to many car makers. We don’t want to indulge too much in the invention in this ICO. People can always access information online for our engine design, which is published by patent office, and patent pending in major economy advanced nations. Our team has done the heavy lifting in the design. This ICO, if successful, will give BEAN more than enough funding to produce a product targeting off grid electricity solutions. The rest of disruption will roll and the change will be significant, not just how cars are made, but also how electricity is generated, energy sources are rebalanced, and business opportunities are presented.
                    </td>
                  </tr>
                </table>
              </li>
              <li><span>Q</span> <p style="margin-top: 5px;width: 80%;">What is the different between token bought by investors and tokens reserved by Blue Energy Australia?</p><div class="according_plus"><img src="img/plus-icon.png"></div></li>
              <li>
                <span>Q</span> <p>Do I receive company shares if I invest in BEAN's token?<div class="according_plus"><img src="img/plus-icon.png"></div>
                <table width="100%">
                  <tr>
                    <td valign="top" width="30px">A: </td>
                    <td>No. ICO is not IPO. Your investment is highly risky, which you should read our Whitepaper for the detail.
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
          </div>
          <div class="col-md-12 text-center">
            <a href="BlueEnergyCoin White paper.pdf" target="_blank" class="btn1" style="display: inline-block; margin-top: 25px; margin-bottom: 115px">LEARN MORE</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Roadmap -->
    <section id="roadmap">
      <div class="container">
        <div class="roadmap-body text-center">
          <div class="section-header">
            <span class="section-title">Roadmap</span>
          </div>
          <div class="row">
            <div class="col-xs-6 col-xs-offset-6 text-left col-roadmap">
              <div class="left-roadmap-img">
                <img src="img/logo-copy.png">
              </div>
              <div class="roadmap-text">
                <span class="roadmap-date">August 28th, 2017</span><br>
                <span class="roadmap-name">Donec Haculis Plandit</span>
              </div>
            </div>
            <div class="col-xs-6 text-right col-roadmap">
              <div class="right-roadmap-img">
                <img src="img/logo-copy.png">
              </div>
              <div class="roadmap-text">
                <span class="roadmap-date">September 18th, 2017</span><br>
                <span class="roadmap-name">A Boney Wacu Olandl</span>
              </div>
            </div>
            <div class="col-xs-6 col-xs-offset-6 text-left col-roadmap">
              <div class="left-roadmap-img">
                <img src="img/logo-copy.png">
              </div>
              <div class="roadmap-text">
                <span class="roadmap-date">October 2nd, 2017</span><br>
                <span class="roadmap-name">The Haculiv Qlandij</span>
              </div>
            </div>
            <div class="col-xs-6 text-right col-roadmap">
              <div class="right-roadmap-img">
                <img src="img/logo-copy.png">
              </div>
              <div class="roadmap-text">
                <span class="roadmap-date">November 19th, 2017</span><br>
                <span class="roadmap-name">Foneg Baculisk Alandix</span>
              </div>
            </div>
            <div class="col-xs-6 col-xs-offset-6 text-left col-roadmap">
              <div class="left-roadmap-img">
                <img src="img/logo-copy.png">
              </div>
              <div class="roadmap-text">
                <span class="roadmap-date">December 10th, 2017</span><br>
                <span class="roadmap-name">Qonezc Xaculis Alandir</span>
              </div>
            </div>
          <div class="col-xs-12 middle-line">
            <img src="img/line.png">
          </div>
          </div>
        </div>
      </div>
    </section>

    <!-- documents -->
    <section id="documents">
      <div class="container">
        <div class="documents-body">
          <div class="row">
            <div class="col-md-12">
              <h2 class="section-title text-center">Documents</h2>
            </div>
            <div class="col-md-4 text-center">
              <div class="block_img" id="whitepaper">
                <img src="img/pdficon1.png">
              </div>
              <span class="block-title">Whitepaper</span>
              <p class="block-capacity">1.2 MB</p>
            </div>
            <div class="col-md-4 text-center">
              <div class="block_img">
                <img src="img/pdficon1.png">
              </div>
              <span class="block-title">Terms & conditions</span>
              <p class="block-capacity">1.2 MB</p>
            </div>
            <div class="col-md-4 text-center">
              <div class="block_img">
                <img src="img/pdficon1.png">
              </div>
              <span class="block-title">Roadmap</span>
              <p class="block-capacity">1.2 MB</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Facts -->
    <section id="facts">
      <div class="container">
        <!-- <div class="row"> -->
          <div class="text-center">
            <h2 class="section-title text-center">Key Token Facts</h2>
          </div>
          <div class="row block-bg">
            <div class="col-md-6">
              <div class=" text-space left-space">
                <span class="facts-exp">Platform of Distributions:&nbsp;&nbsp;</span>
                <span class="facts-capacity">Vivamus</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class=" text-space">
                <span class="facts-exp">Coins accepted as payment for BEAN tokens:&nbsp;&nbsp;</span>
                <span class="facts-capacity">Vivamus</span>
              </div>
            </div>
          </div>
          <div class="row" style="margin: 0">
            <div class="col-md-6">
              <div class=" text-space left-space">
                <span class="facts-exp">Name of Token:&nbsp;&nbsp;</span>
                <span class="facts-capacity">BEAN</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class=" text-space">
                <span class="facts-exp">Total number of tokens to be created:&nbsp;&nbsp;</span>
                <span class="facts-capacity">100,000,000.0</span>
              </div>
            </div>
          </div>
          <div class="row block-bg">
            <div class="col-md-12">
              <div class=" text-space  left-space" style="padding-bottom: 70px;padding-right: 45px;">
                <span class="facts-capacity" style="font-size: 18px;"><span class="facts-exp" style="font-size: 18px;">Token functionalities: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in eleifend libero, malesuada pretium erat. Morbi ornare tortor id por ttitor finibus. Donec tincidunt elit nunc, vel fringilla justo mollis nec. Suspendisse pulvinar dapibus ipsum, etssque sapien vehi cula sit amet. Vivamus sit amet metus dolor.</span>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </section>

    <!-- Team -->
    <section id="team">
      <div class="container">
        <div class="row" style="padding: 0 65px;">
          <div class="col-md-12">
            <h2 class="section-title text-center">Team Blue Energy Australia</h2>
            <p class="block-text-top">Blue Energy Australia NSW is a startup business registered in NSW. Team members are local and overseas engineers and scientists working together since 2009</p>
          </div>
          <div class="col-md-4 text-center">
            <div class="member-img">
              <img src="img/da-way.png">
              <a href="" class="member-social">in</a>
            </div>
            <span class="member-name">Mr. Da Wei (David) Huang</span>
            <p class="member-capacity">Founder</p>
          </div>
          <div class="col-md-4 text-center">
            <div class="member-img">
              <img src="img/arias.png">
              <a href="" class="member-social">in</a>
            </div>
            <span class="member-name">Pio Arias</span>
            <p class="member-capacity">Scientist And Mathematician</p>
          </div>
          <div class="col-md-4 text-center">
            <div class="member-img">
              <img src="img/jorge.png">
              <a href="" class="member-social">in</a>
            </div>
            <span class="member-name">Jorge Andrés Cifuentes Gutiérrez</span>
            <p class="member-capacity">Enginner</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Social -->
    <section id="social">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="img/logo1.png">
          </div>
          <div class="col-md-4">
            <span class="quick-links">Quick Links</span>
            <ul>
              <li><a class="page-scroll" href="#">HOME</a></li>
              <li><a class="page-scroll" href="#ico_results">ICO</a></li>
              <li><a class="page-scroll" href="#team">TEAM</a></li>
              <li><a class="page-scroll" href="#documents">DOCUMENTS</a></li>
              <li><a class="page-scroll" href="#faq">FAQ</a></li>
              <li><a class="page-scroll" href="#social">CONTACTS</a></li>
            </ul>
            <div class="download-btn">
              <a href="#" class="btn2">DOWNLOAD WHITEPAPER</a>
            </div>
          </div>
          <div class="col-md-4" style="margin-left: -15px;">
            <span class="quick-links">Subscribe To Newslatter</span>
            <form>
              <input type="email" name="email" placeholder="Your Email" autocomplete="off"></input>
              <div class="subscribe-btn">
                <a href="#" class="btn2">SUBSCRIBE NOW</a>
                <!-- <button type="submit" class="btn2" style="">SUBSCRIBE NOW</button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container text-center">
        <p>Blue Energy Coin @ 2017 All rights reserved</p>
      </div>
    </footer>
    <!-- arrow move to top -->
    <div class="arrow_move_to_top"><i class="fa fa-arrow-circle-up"></i></div>


  <!-- jQuery -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  

  <!-- Theme JavaScript -->
  <script src="js/grayscale.min.js"></script>
  <script src="js/attrchange.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script type='text/javascript' >
      new WOW().init();
  </script>
  <!-- mediaelementplayer -->
  <!-- <script src="js/mediaelementplayer.js"></script>
  <script src="js/mediaelement.js"></script>
  <script src="js/mediaelement-and-player.js"></script> -->

  <!-- attribute change control -->
  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/attrchange.js"></script>
  <script src="/js/grayscale.js"></script>
  <script src="/js/grayscale.min.js"></script>
  <script src="/js/icheck.min.js"></script>
  <script src="/js/jasny-bootstrap.min.js"></script>
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/scroll.js"></script>
  <script src="/js/wow.min.js"></script>
  <!--SCRIPTS END-->
  <script type="text/javascript">
    $(function() {
      //Video player controls
      var video_player = $("#player1");
      video_player.on("play", function(){
        video_player.attr("controls", '');

      });

      video_player.on("pause", function(){
        // video_player.removeAttr("controls");
      });

      $('#solution .readmore-btn').click(function() {
        $this = $(this);
        $text = $(this).parent().parent().find('.readmore-text');
        $text.fadeIn(500);
        $this.fadeOut('fast');
        return false;
      });
      $('#solution .close-btn').click(function() {
        $this = $(this).parent().parent().find('.readmore-btn');
        $text = $(this).parent();
        $text.fadeOut('fast');
        $this.fadeIn(500);
        return false;
      });
      $('#whitepaper').click(function(){
        window.open('BlueEnergyCoin White paper.pdf', '_blank');
      });
      $('#faq ul li').click(function() {
        $this = $(this);

        if($this.find("table").is(":visible")) {
          $this.find("table").fadeOut(500);
        } else {
          $this.find("table").fadeIn(500);
        }
      });

      $('div.arrow_move_to_top').click(function() {
        $('body').animate({
          scrollTop: 0
        });
      });
    });

    auto_viedo_screen_arrange();

    $(window).resize(function() {
      auto_viedo_screen_arrange();
    });

    function auto_viedo_screen_arrange() {
      parent_width = $('div.media-envirenment-screen').width();
      parent_height = $('div.media-envirenment-screen').height();

      // $('div.media-wrapper').css({
      //   'width': parent_width - 30,
      //   'height' : parent_height - 20,
      //   'left' : 15,
      //   'top' : 12
      // });

      $('#player1').attr({
        'width' : parent_width
      });

      // $('.media-player-starter').css({
      //   'left' : $('.media-wrapper').width()/2 - 30,
      //   'top': $('.media-wrapper').height()/2 - 30
      // });

      $('.media-player-starter').click(function() {
        $('#player1')[0].play();
        $(this).hide();
      });

      $('#documents .block_img').hover(function() {
        $(this).find('img').attr('src', 'img/pdficon2.png');
      }, function() {
        $(this).find('img').attr('src', 'img/pdficon1.png');
      });
      $('#team .member-img').children('a.member-social').hide();
      $('#team .member-img').hover(function(){
        $(this).find('img').css({
          'opacity': 0.8
        });
        $(this).children('a.member-social').fadeIn(500);
      }, function(){
        $(this).find('img').css({
          'opacity': 1
        });
        $(this).children('a.member-social').fadeOut('fast');
      });
      $('.solution-image img').attr('width', '100%');
    }
  </script>
  <script src="js/scroll.js"></script>
  </body>
</html>
