
/*************sign up start********/
#signup_main{
	position: relative;
	width: 576px;
	height: 835px;
	margin: 0 auto;
	border-radius: 8px;
	background: url(../img/log-bg.png);
}
#signup_main .logo-img{
	top:65px;
}
#signup_main .brand-heading{
	font-family: 'RobotoCondensed_Regular' !important;
	font-size: 26px !important;
	color: #6cb3fd !important;
	position: relative;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: -6px;
	letter-spacing: .5px;
}
.brand-text{
	font-family: 'RobotoCondensed_Regular' !important;
	font-size: 20px !important;
	color: #fff;
	opacity: 0.6;
	position: relative;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: -6px;
	letter-spacing: .5px;
}
form#sign-form{
	margin-top:30px; 
	display: inline-block;
	width: 100%;
}
#sign-form .form-content-sign{
	position: relative;
	text-align: left;
	width: 300px;
	margin: 0 auto;
	padding-top:20px;
	padding-bottom: 6px;
    border-bottom: 1px solid gray;
}
#signup_main .form-content-sign > i{
	width: 23px;
	font-size: 21px;
	font-weight: lighter;
	margin-left: 16px;
}
#signup_main .form-content-sign > input{
	background: transparent;
	font-family: 'RobotoCondensed_Regular' !important;
	font-size: 19px;
	border: 0px;
	margin-left: 15px; 
	letter-spacing: .5px;
	outline: none;
	color: #8c8c90;
	width: 245px;
}
.form-content-sign-flag #phone-box{
	width: 300px;
	height: 27px; 
	margin-top: 12px; 
	text-align: left;
}
#verify-form{
	margin-top: 30px;
}
#verify-form .form-content-sign{
	position: relative;
	text-align: left;
	width: 300px;
	margin: 0 auto;
	padding-top:20px;
	padding-bottom: 6px;
    border-bottom: 1px solid gray;
}
#verify-form .form-submit{
	margin-top:30px;
}
.custom-form-content-sign {
	position: relative;
    text-align: left;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 6px;
    border-bottom: 1px solid gray;
}

.custom-sign-input {
	background: transparent;
    font-family: 'RobotoCondensed_Regular' !important;
    font-size: 19px;
    border: 0px;
    margin-left: -5px;
    letter-spacing: .5px;
    outline: none;
    color: #8c8c90;
    width: 130px;	
}

.form-content-sign-flag #phone-box .flag_responsive_sign {
	width: 80px;
	float: left !important;
}

.custom-intro {
	background: #5c34eb;
	background-image: url(../img/intro-bg.png);
	background-size: cover;
}

.background-cover {
	display: table;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
}
#pswd_info{
	position:absolute;
    top: 60px;
    font-family: 'SofiaProLight' !important;
    display: none;
    padding:15px;
    background:#fefefe;
    color: #000;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    z-index: 1000;
}
#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#fff;
    display:block;
}
#pswd_info h4{
	font-family: 'RobotoCondensed_Regular' !important;
	text-align: center;
	margin-bottom: 10px;
	font-size: 18px;
}
#pswd_info ul li{
	margin: 0;
	padding-left:22px;
    line-height:24px;
	list-style: none;
	font-size: 15px;
}
.invalid{
	background:url(../img/invalid.png) no-repeat 0 50%;
    color:#ec3f41;
}
.valid{
	background:url(../img/valid.png) no-repeat 0 50%;
    color:#3a7d34;
}
#signup_main .form-content-sign-flag  #phonenum {
	display: inline;
	margin-top: -5px;
	margin-left: 10px;
	float: left;
}
#sign-form .form-content-sign-flag{
	position: relative;
	text-align: left;
	width: 300px;
	margin: 0 auto;
	padding-top:10px;
	padding-bottom: 6px;
    border-bottom: 1px solid gray;
}
#sign-form .form-content-agreed {
	width: 300px; 
	height: 67px; 
	margin: 0 auto;
	text-align: left;
}
#sign-form .form-content-agreed .agreecheck {
	margin-top: 37px;
    width: 20px;
}
#sign-form .form-content-agreed .agreedcontent .agreedtext {
	font-family: 'RobotoCondensed_Regular';
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #8c8c90;
}
#sign-form .form-content-agreed .agreedcontent {
	margin-left: 36px;
    margin-top: -23px;
}
#sign-form .form-content-agreed .agreedcontent .agreedtext > a {
	color: #8c8c90;
    text-decoration: underline;
}
#sign-form .form-content-agreed .agreedcontent .agreedtext > a:hover {
    cursor: pointer;
}
.form-submit-sign{
    margin-top: 65px;
    /*margin-left: 2px;*/
}
#sign-form .form-submit{
	margin-top: 50px;
}
.btn1{
	display: inline-block;
	text-align: center;
	width: 255px;
	height: 65px;
	background: url(../img/btn1.png);
	background-repeat:no-repeat;
   	background-size:100% 100%;
   	font-family: 'RobotoCondensed_Bold' !important;
   	font-size: 20px;
   	color: #000 !important;
   	opacity: 1;
   	padding-top: 18px;
   	/*margin-bottom: 45px;*/
}
.btn2{
	width: 255px;
	height: 65px;
	background: url(../img/btn1.png);
	background-repeat:no-repeat;
   	background-size:100% 100%;
   	font-family: 'RobotoCondensed_Bold' !important;
   	font-size: 20px;
   	color: #000 !important;
   	opacity: 1;
   	border: none !important;
    outline: none !important;
}
.btn1:hover,.btn2:hover{
	color: #2f347c !important;

}

.loginlink {
    margin-top: 14px;
}
.loginlink > p {
	font-family: 'RobotoCondensed_Regular';
    font-size: 17px;
    letter-spacing: 1.2px;
    color: #6cb3fd;
}
.loginlink > p > a {
	font-family: 'RobotoCondensed_Regular';
    font-size: 17px;
    letter-spacing: 1.2px;
    color: #6cb3fd;
    border-bottom: 1px solid #6cb3fd;
}
.link-home{
     font-family: 'RobotoCondensed_Regular';
     color: white;
     font-size: 16px;
}
.link-home:hover{
     font-family: 'RobotoCondensed_Regular';
     color: #59EFF0 ;
     font-size: 16px;
}
.alerterror {
	display: block;
    margin-top: 15px;
    font-size: 17px;
    color: red;
    font-family: RobotoCondensed_Regular;
    letter-spacing: 1.8px;
    font-style: italic;
    font-weight: 900;
}	
#signup_main .form-content-sign .lavel-icon{
     position: relative;
     float: left;
     width: 23px;
     margin-left: 13px
}
/*********modal*********/
.modal{
	color: #000;
}
.modal-header{
	/*display: none;*/
	border-bottom: 0px !important;
}
.modal-body .modal-body-logo{
	padding-top: 85px;
    padding-bottom: 140px;
}
.modal-body .modal-body-logo img{
	    height: 200px;
   
}
.modal-body-title-terms{
	border-bottom: 2px solid;
	border-top: 2px solid;
	padding-top: 33px;

}
.modal-body-title-date{
	padding-top: 80px;
    padding-bottom: 30px;
}
.modal-body-container {
	font-size: 17px;
	line-height: 29px;
	padding-top: 50px;
}
.modal-body-container h3{
	margin-bottom: 10px !important;
	   margin-top: 10px !important;
}
.modal-dialog .modal-content{
	width: 100%;
    height: 870px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.modal-footer{
    border-top: 0px !important;
}
/********TelInput*********/
.intl-tel-input.allow-dropdown{
	color: black;
	height: 35px;
}
input[type=tel]{
	background: transparent;
	font-family: 'RobotoCondensed_Regular' !important;
    font-size: 19px;
    border: none;
    letter-spacing: .5px;
    outline: none;
	height: 35px;
	color: #8c8c90;;
}
.intl-tel-input .flag-dropdown .selected-flag{
	padding: 9px 3px 5px 20px;
}
.intl-tel-input .flag-dropdown .selected-flag .down-arrow {
    top: 5px;
    position: relative;
    left: -13px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #F1EDED;
}
.intl-tel-input .flag-dropdown .country-list {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    overflow-y: scroll;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0.95;
    /* border: 1px solid #cccccc; */
    position: absolute;
    top: 30px;
    width: 290px;
    max-height: 200px;
}
.intl-tel-input .flag-dropdown .country-list .country {
    line-height: 16px;
    padding: 4px 10px 4px 20px;
}
/**************sign up end****/
